*{
margin: 0;
padding: 0;
}

h3{
    
   font-family: 'Great Vibes', cursive;
   font-weight: bold 10px;
 }

.figure-img, .photo-artiste {
    width: 30%;
    border-radius: 50px;
    border: solid 2px #000;
   
 }  

 .figure-img{
    width: 80%;
    position: relative;  
 }
   
p {
 font-size: 20px; 
 color: black;
 text-align: left;
 border-radius: 10px;
}


   
img {
  
   border-radius: 5%; 
    position: relative; 
 
 }




p{
  line-height: 32px;
  margin: 0 40px;
 
}
 figcaption{
  font-family: 'Great Vibes', cursive;

} 
 
@media screen and (max-width:560px) {
  img, .photo-artiste{
    width: 80%;
  }
}

@media screen and (max-width:900px) and (min-width:560px) {
  img, .photo-artiste{
    width: 40%;
  }
}