{% extends 'base.html.twig' %}


{% block main %}

	<!-- APROPOS -->
	<main>
		<div id="f">
			<div class=" container">
				<div class="row text-center">

					<h3>Mon histoire</h3>

					<figure class="figure col-md-4">
						<img src="img/Mme Delaleau 2.jpg" class="figure-img img-fluid rounded" alt="...">
						<figcaption class="figure-caption">Mme Séverine Delaleau</figcaption>

					</figure>

					<div class="col-md-6 text-center">

						<p>Diplômée d’un brevet des Métiers d’Art, j'ai crée un atelier de décoration sur porcelaine 
																					                              à Dannemois, petit village typique de l’Essonne(91). 
																					                            
																					                            Passionnée par la décoration et les arts de la table, je vous propose du sur-mesure pour votre service de table,
																					                            des pièces personnalisés pour un moment précis dans une vie (naissance, mariage….)et cadeaux d’entreprise.</p>


					</div>

				</div>
			</div>
		</div>

		<div id="f1">
			<div class="container">
				<div class="row text-center">

					<h3>Réflexion du projet</h3>

					<div class="col-md-12 text-start">

						<p>
							Suivant le projet, la première étape est le choix des pièces (formes multipes,ramequins, assiettes..... ), 
																					                            la deuxième les couleurs et la dernière les motifs.</p>

						<p>La réalisation se fait soit à main levée, soit à l’aide d’un poncif(un calque au choix du motif ).
						</p>

						<p>Puis vient le passage au four à 840°C pour une grande majorité de couleurs.</p>

					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center ">

						<figure class="figure">
							<img src="img/1_conception_piece_suite_et_fin -.jpg" class="figure-img img-fluid rounded" alt="...">
							<figcaption class="figure-caption">Choix des piéces</figcaption>
						</figure>

					</div>

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">

						<figure class="figure">
							<img src="img/mise_en_place_couleurs.jpg" class="figure-img img-fluid rounded" alt="...">
							<figcaption class="figure-caption">Choix des couleurs</figcaption>
						</figure>

					</div>

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">

						<figure class="figure">
							<img src="img/assiettes_floral.jpg" class="figure-img img-fluid rounded h-25 " alt="...">
							<figcaption class="figure-caption">Choix des motifs</figcaption>
						</figure>

					</div>


					<h3>Conception et finalisation de l'oeuvre</h3>

					<div class="col-md-12 text-start">

						<p>
							Le choix des couleurs et formes se fait suivant la commande . Pour la décoration j’utilise 2 Méthodes :</p>

						<p>1.La décoration traditionnelle,technique dite classique, elle consiste à préparer des couleurs sans plomb , 
																					                        avec un mélange d'essence grasse et de térébenthine. 
																					                        2.La décoration moderne ou putoisage,elle consiste à étaler la couleur le plus uniforme possible avec une petite éponge,
																					                        puis avec un pinceau je réalise le motif.</p>
						<p>Une fois terminé,la pièce passe au four, la cuisson est de 840 degrés.
						</p>
						<p>Suivant les motifs, plusieurs cuisson sont nécessaires.</p>
						<p>La température de cuisson  peut aussi varier selon les couleurs ou les ors et platine.</p>


					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center ">

						<figure class="figure">
							<img src="img/technique_application_couleur.jpg" class="figure-img img-fluid rounded" alt="...">
							<figcaption class="figure-caption">Mise en place des couleurs</figcaption>
						</figure>

					</div>


					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center ">

						<figure class="figure">
							<img src="img/technique_application_couleur (1).jpg" class="figure-img img-fluid rounded" alt="...">
							<figcaption class="figure-caption">Réalisation du motif</figcaption>
						</figure>

					</div>


					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">

						<figure class="figure">
							<img src="img/3_conception_piece_suite_et_fin.jpg" class="figure-img img-fluid rounded" alt="...">
							<figcaption class="figure-caption">Passage au four</figcaption>
						</figure>

					</div>
					<br>
					<h3 id="Conseils">Conseils d'entretien</h3>

					<div class="col-md-12">

						<p class="text-md-start">
							• Les pièces peuvent aller au micro-ondes sans dommage  à l’exception de celles qui sont décorées avec des métaux précieux (or, argent ou platine),

							<br>
							• Nettoyage au lave-vaisselle  avec un programme basse température  (recommandé)
							<br>
							• Essuyage de la porcelaine  à l’aide d’un chiffon doux afin de préserver l’éclat de votre décor.

						</p>


					</div>

				</div>
				<!-- fin row -->
			</div>
			<!-- fin  container -->

		</div>
		<!-- fin  id -->
		<div class="row contain-btn-scroll">
			<div class="col-lg-12">
				<a class="bi-arrow-up-circle fs-1" href="#" role="button"></a>
			</div>
		</div>
	</main>
{% endblock %}
