{% extends '@EasyAdmin/layout.html.twig' %}
{% block title %}Dashboard Kaoline
{% endblock %}


{% block main %}
	<h2>Bienvenu dans le tableau de bord Admin</h2>

	<p>Ici vous pouvez gérer les produits et les commandes clients</p>
{% endblock main %}
