{% extends 'base.html.twig' %}
{% block main %}
	<article>
		<h3>{{photos.products.title}}</h3>
		<div class="description">
			{{photos.products.description}}
		</div>
		<div class="prix">
			{{photos.products.prices}}
			€
		</div>
		<a href="#">Ajouter au panier</a>
		<a href="{{ path('catalogue') }}">Retour au catalogue</a>
	</article>
{% endblock %}
