{% extends 'base.html.twig' %}
{% block main %}
	<article>
		<h3>{{product.title}}</h3>
		<div class="description">
			{{product.description | raw}}
		</div>
		<div class="prix">
			{{product.prices}}
			€
		</div>
		<a href="#">Ajouter au panier</a>
		<a href="{{ path('catalogue') }}">Retour au catalogue</a>
	</article>
{% endblock %}
